<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-stephenweaver" value="https://nuget.pkg.github.com/stephenweaver/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-stephenweaver>
      <add key="Username" value="stephenweaver" />
      <add key="ClearTextPassword" value="%GITHUB_PACKAGES_TOKEN%" />
    </github-stephenweaver>
  </packageSourceCredentials>
</configuration>
